@font-face {
  font-family: "Acrom";
  src: url("../fonts/acrom.ttf");
}

@font-face {
  font-family: "Acrom regular";
  src: url("../fonts/acrom_regular.ttf");
}

* {
  outline: 1px solid tomato;
}

body {
  font-family: Acrom, Arial, Helvetica, sans-serif;
  font-size: 14px;
  line-height: 1.2em;
}

$main_color: tomato;
