* {
  outline: 1px solid tomato;
}
header {
  color: #222;
}

.container {
  max-width: 960px;
  min-height: 20px;
  margin: 0 auto;
  padding: 0 10px;
}

.flex {
  display: flex;
}
.center {
  align-items: center;
  /* justify-content: center; */
}
.logo {
  & span {
    margin-left: 5px;
  }
  &__main {
    color: green;
  }
  &__second {
    color: red;
  }
  &__gray {
    color: gray;
  }
}
